:root{
    --main-focus-hover-color: #2196f3;
    --main-logo-color-primary: #2196f3;
    --main-logo-color-secondary-header: #000000;
    --main-logo-color-secondary-footer: #ffffff;
    --main-headers-color: #212121;
    --main-paragraph-color: #757575;
    --link-break-color: #000000;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* .colored-text {
    color: #2196f3;
} */

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: var(--main-logo-color-secondary-header);
}

.logo-blue {
    color: var(--main-logo-color-primary);
}

/* .logo-black {
    color: #000000;
} */

.link-header-text {
    font-size: 14px;
    font-weight: 500;
    color: var(--main-headers-color);
}

.link-header-text:hover,
.link-header-text:focus{
    color: var(--main-focus-hover-color);
}


.ul-horizontal li {
    display: inline;
}

.hero-caption {
    text-transform: uppercase;
}

.link-break-styles {
    color: var(--link-break-color);
}

.link-button a {
    background-color:var(--main-focus-hover-color);
    color: #ffffff;
    padding: 0px
    border-radius: 4px;
}
